<template>
  <section>
    <div>
      <b-modal ref="modal-1" title="Editar livro">
        <form>
            <div>
              <label>Título: </label><input type="text" placeholder="Digite o título do livro" v-model="formEditar.titulo">
            </div>
            <div>
              <label>Autor: </label><input type="text" placeholder="Nome do autor" v-model="formEditar.autor">
            </div>
            <div>
              <label>Edição: </label><input type="tel" placeholder="Edição do livro" v-model="formEditar.edicao">
            </div>

            <div class="biblioteca-submit">
              <button type="button" class="btn btn-primary btn-submit" v-on:click="editarLivro()" v-if="controlerBtnSubmit">Salvar</button>
              <button type="button" class="btn btn-primary btn-submit" disabled v-else><i class='fa fa-refresh fa-spin'></i> aguarde...</button>
            </div>
        </form>
      </b-modal>
    </div>

    <div class="biblioteca-header">
      <h1>Gerência da biblioteca</h1>
    </div>

        <form>
            <label>Adicionar novo livro:</label>
            <div>
              <label>Título: </label><input type="text" placeholder="Digite o título do livro" v-model="formBiblioteca.titulo">
            </div>
            <div>
              <label>Autor: </label><input type="text" placeholder="Nome do autor" v-model="formBiblioteca.autor">
            </div>
            <div>
              <label>Edição: </label><input type="tel" placeholder="Edição do livro" v-model="formBiblioteca.edicao">
            </div>

            <div class="biblioteca-submit">
              <button type="button" class="btn btn-primary btn-submit" v-on:click="salvarLivro()" v-if="controlerBtnSubmit">Salvar</button>
              <button type="button" class="btn btn-primary btn-submit" disabled v-else><i class='fa fa-refresh fa-spin'></i> aguarde...</button>
            </div>
        </form>
        <pre>{{formBiblioteca}}</pre>
        <div class="livros-existentes" v-if="livrosCadastrados.length">
            <label>Livros cadastrados:</label>
            <ul>
              <li v-for="livro in livrosCadastrados">
                <span>{{livro.titulo}}</span>
                <b-icon-pencil v-on:click="showModalEditarLivro(livro)"></b-icon-pencil>
                <b-icon-trash v-on:click="deletaLivro(livro)"></b-icon-trash>
              </li>
            </ul>
        </div>

  </section>
</template>

<script>
export default {
    props: ['livros'],
    data () {
        return {
            formBiblioteca: {
              titulo: '',
              autor: '',
              edicao: ''
            },
            formEditar: {
              id: '',
              titulo: '',
              autor: '',
              edicao: ''
            },
            livrosCadastrados: [],
            controlerBtnSubmit: true
        }
    },
    mounted() {
      let livros = JSON.parse(this.livros)
      this.livrosCadastrados = livros
    },
    methods: {
      showModalEditarLivro(livro) {
        this.formEditar = livro
        this.$refs['modal-1'].show()
      },
      hideModal() {
        this.$refs['modal-1'].hide()
      },
      salvarLivro () {
          let vm = this;
          let formData = this.formBiblioteca;

          this.controlerBtnSubmit = false;
          axios.post( '/api/livro',
            formData,
            {
              headers: {
                  'Content-Type': 'application/json'
              }
            }
          ).then(function(response){
                vm.formBiblioteca = {titulo:'', autor:'', edicao: ''}
                // acrecenta no objeto de livros existente o novo livro inserido
                vm.livrosCadastrados.push(response.data)
                // Controle do botão submit
                vm.controlerBtnSubmit = true;
          })
          .catch(function(e){
                console.log('Algo de errado com a requisição.');
                console.log(e);
                // Controle do botão submit
                vm.controlerBtnSubmit = true;
          });
      },
      editarLivro () {
          let vm = this;
          let formData = this.formEditar;

          this.controlerBtnSubmit = false;
          axios.put( `/api/livro/${formData}`,
            formData,
            {
              headers: {
                  'Content-Type': 'application/json'
              }
            }
          ).then(function(response){
                vm.formEditar = {titulo:'', autor:'', edicao: ''}
                vm.hideModal()
                // Controle do botão submit
                vm.controlerBtnSubmit = true;
          })
          .catch(function(e){
                console.log('Algo de errado com a requisição.');
                console.log(e);
                // Controle do botão submit
                vm.controlerBtnSubmit = true;
                vm.hideModal()
          });
      },
      deletaLivro (livro) {
          let vm = this;
          this.controlerBtnSubmit = false;
          axios.delete( `/api/livro/${livro.id}`,
            {
              headers: {
                  'Content-Type': 'application/json'
              }
            }
          ).then(function(response){

                // remove uma livro com base no ID do objeto
                for (let i in vm.livrosCadastrados) {
                  if (vm.livrosCadastrados[i].id === livro.id) {
                    vm.livrosCadastrados.splice(i, 1);
                  }
                }
                vm.controlerBtnSubmit = true;
          })
          .catch(function(e){
                console.log('Algo de errado com a requisição.');
                console.log(e);
                // Controle do botão submit
                vm.controlerBtnSubmit = true;
          });
      }
    }
}
</script>
<style>
  section {
    font-family: 'Open Sans', sans-serif;
    color: #27343b;
    margin-left: 15px;
    margin-right: 15px
  }
  .biblioteca-header {
    background-color: #3b8dbc;
    color: #FFFF;
    text-align: center;
    padding: 10px;
  }
  .livros-existentes {
    max-height: 10em;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px #0000004f;
    padding: 5px;
    border-radius: 5px;
  }
  .livros-existentes ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .livros-existentes ul li {
    border: 1px solid #ccc;
    float: left;
    margin: 5px;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 5em;
  }
  .livros-existentes ul li svg {
    margin: 0 0 0 0.5em;
    font-size: 1.2em;
    color: #3b8dbc;
    cursor: pointer;
  }
  .livros-existentes ul li svg:hover {
    color: #ca0400;
  }
  form {
    display: flex;
    margin: 3em 0px 1em 0;
    flex-direction: column;
  }
  form input {
    padding: 10px;
    transition: 1s;
    outline-style: none;
    display: inline-flex;
    min-width: 1em;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 5px 0 0 0;
    width: calc(100% - 5em);
  }
  form label {
    min-width: 5em;
  }
  .biblioteca-submit button {
    padding: 4px 10px;
    border: 0;
    margin: 5px 0 0 0;
    float: right;
  }
  .biblioteca-submit button:hover {
    background-color: #00a65a;
  }
  pre {
    color: #ffffff;
    background-color: #3f3f3f;
    font-family: monospace;
  }
  .modal-footer {
    display: none !important;
  }
</style>
